<div class="py-4 mx-0" [ngClass]="subscribe.classes">
  <div class="container py-2">
    <div class="row d-flex flex-column flex-md-row justify-content-center align-content-center">
      <div class="col-auto fs-3 d-flex align-content-center text-center text-md-start my-2">{{subscribe.text}}</div>
      <div class="col-md-4 row d-flex justify-content-center align-content-center my-2">
        <a class="btn btn-light col-auto rounded-pill fw-bold text-primary fs-4">{{subscribe.textButton}}</a>
      </div>
    </div>
  </div>
</div>
