<div class="bg-primary text-light">
  <div class="container">
    <div class="row d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-content-center">
      <div class="col-auto py-2 text-center text-md-start">&copy; {{year}} FUNESC. Todos los derechos reservados.</div>
      <div class="col-auto text-nowrap py-2 text-center text-md-end">Desarrollado por <a href="https://contratistaweb.com" target="_blank" class="text-decoration-none text-light">ContratistaWeb S.A.S.</a></div>
    </div>
  </div>
</div>
