  <video src="assets/videos/fluid-traffic.mp4" autoplay="true" muted="true" loop="true"
         poster="assets/images/coming-soon.jpg" class="mx-0"></video>
<div class="container-fluid full-height px-0">
  <div class="row coming-soon-bg-1 full-height">
    <div class="row d-flex justify-content-md-center col-10 col-md-8 mx-auto my-auto">

      <div class="col-10 col-md-6 my-2">
        <h1 class="text-center display-2 fw-bolder ">Our Website is Coming Soon</h1>
      </div>

      <div class="col-auto col-md-8">
        <p class="text-center">We're working hard to finish the development of this site. Sign up below to
          receive updates and to be notified when we launch!</p>
      </div>

      <div class="d-flex justify-content-center col-12 col-md-6">
        <notification-form></notification-form>
      </div>
    </div>
  <copyright class="fixed-bottom"></copyright>
  </div>
</div>
