.coming-soon-bg-1{
  background: linear-gradient(95deg, rgba(0,75,255,1) 75%, transparent 25%);
  color: rgba(255,255,255,0.75)
}
video {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
